@charset "utf-8"; //包含汉字需要声明
/* CSS reset */
* {
  box-sizing: border-box;
  outline: 0;
}

abbr, article, aside, audio, canvas, datalist, details, dialog, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video {
  display: block;
}

html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
  //font-size: calc(100vw / 3.75); //3.75为375/100，375为iPhone6,7,8的可视宽度
}

textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  resize: none;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, td, strong, ul, menu, dir {
  padding: 0;
  margin: 0;
  font-weight: normal;
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

a, button, input[type="button"], input[type="submit"] {
  text-decoration: none;
  border: 0;
  background: none;
  cursor: pointer;
  outline: 0;
}

/*去掉数字输入框的右边箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}


//清除浮动间隔
.clearfix {
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}


